<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holo's Sketch League</title>

    <link rel="icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/materialize-colors.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<div class="container d-flex h-100">
    <div class="align-self-center mx-auto">
        <form method="post" action="/join">
            <% if (locals.error) { %>
            <p class="red-text"><%= error %></p>
            <% } %>
            <label for="username">Enter a username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Example: Holo The Fox">
            <button type="submit" class="btn btn-primary">Join</button>
        </form>
    </div>
    <div class="about">
        v2.3.2.23
    </div>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/login.js"></script>
</body>
</html>