html, body {
    height: 100%;
    overflow-x: hidden;
}

.row {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

}

.users {
    border-bottom:1px lightgray solid;
    height:15vh;
    overflow-y:scroll;
    padding-left:25px;
    padding-right:25px;
}

.users p {
    margin-bottom: 0;
}

#chatbox {
    height:65vh;
    max-height: 65vh;
}

.name {
    display:inline-block;
}

.privileges {
    float:right;
}


#sketch {
    height:70vh;

}

.overview {
    height:10vh;
    border-bottom:1px lightgray solid;
    padding:10px;
}

.timer {
    font-size:1.75rem;
}

.self {
    color:green;
}

.hidden {
    display:none;
}

.server {
    color:#03a9f4;
}

.other {
    color:#ffb300;
}

.send {
    padding: 30px;
    height:auto;
}

#chatbox {
    padding: 30px;
    overflow-y: hidden;
    overflow-wrap: break-word;
    color: #767676;
}

#chatbox li {
    margin-bottom: 8px;
}

.send {
    border-top:1px lightgrey solid;
}

.send input[type='text'] {
    margin-top: 10px;
}

.container-fluid {
    height: 100vh;
}

.game {
    border-left:1px lightgrey solid;
}

canvas {
    border-bottom: 1px lightgray solid;
    width:100%;
    height:auto;
}

.pallet {
    padding: 8px;
}

.tools, .colors, .sizes, .actions {
    vertical-align: top;

    display: inline-block;
    margin-right: 40px;
}

.tools .btn {
    width: 100px;
    height: 120px;
}

.colors {
    width: 272px;
}

.colors .btn {
    width: 35px;
    height: 35px;
}

.colors .middle .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sizes div:nth-of-type(2) {
    margin-top: 5px;
}

.sizes .btn {
    width: 64px;
    height: 55px;
}